@mixin mint-card-bg {
  background: var(--primary-very-low);

  @media (prefers-color-scheme: light) {
    background: var(--header_background);
  }
}

:root {
  --left-penal-size: 244px;
  --mint-border-radius: 8px;
  --mint-hover-shadow: 4px 4px var(--tertiary-high);
  --tertiary-hover: #7C3AED;
  --mint-color-mint: #5b21b6;
  --mint-color-blue: #dddddd;
}

$color-square-gradient: linear-gradient(
  4deg,
  rgba(143, 236, 202, 0.29) 55%,
  rgba(74, 247, 255, 0.08) 100%
);
$color-square-webkit-gradient: -webkit-linear-gradient(
  4deg,
  rgba(143, 236, 202, 0.29) 55%,
  rgba(74, 247, 255, 0.08) 100%
);
